*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width:100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)), url(./landing.jpg);
    background-size: cover;
    font-family: sans-serif;
}
nav{
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.logo{
    font-size: 2.5em;
    letter-spacing: 2px;

}
.menu a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 25px;
    position: relative;

}
.menu a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid rgb(174, 168, 168);
    transition: 0.4s linear;
}
.menu a:hover:before{
    width: 90%;

}
.Register a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 25px;
    background: indianred;
    border-radius: 8px;
    transition: 0.4s;
}
.Register a:hover{
    background: transparent;
    border: 4px solid white;
}
.centertext {
    max-width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}
.centertext span{
    letter-spacing: 5px;
}
.centertext h1{
    font-size: 3.5em;
}
.centertext a{
    text-decoration: none;
    background: indianred;
    color: wheat;
    padding: 10px 20px;
    letter-spacing: 5px;
    transition: 0.4s;
}
.centertext a:hover{
    background: transparent;
    border: 4px solid white;
}
.topabout{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-weight: 3em;
    color: yellow;
    letter-spacing: 3px;
    padding: 20px,10px;


    
}
.bottomabout{
    position: absolute;
    top: 80%;
    left: 40%;
    transform: translate(-50%,-50%);
    text-align: end;
    color: wheat;
    font-weight: bold;
    size: 5em;

}
